.container {
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: inset rgb(0 0 0 / 12%) 0 3px 13px 1px;
    z-index: 10;
}

#profile-info {
    width: 100%;
    background-color: white;
    min-height: 300px;
}

#content-sec {
    width: 100%;
}

.left_col {
    height: 100px;
    background-color: rgb(238, 238, 238);
}

.right_col {
    height: 100%;
    background-color: rgb(238, 238, 238);
}

a {
    text-decoration: none;
    transition: ease 0.25s;
    font-weight: 500;
    color: #0089fa;
}

a:hover {
    text-decoration: underline;
    font-size: 1.4rem;
}

#posts {
    min-height: 100px;
    background-color: white;
    width: 100%;
}

img[alt~="Icon"] {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
    animation: anim 0.75s ease;
}

@keyframes anim {
    from {
        transform: scale(10%);
        opacity: 0;
        filter: blur(10px);
    }
    to {
        transform: scale(100%);
        opacity: 1;
        filter: blur(0px);
    }
}

img[alt~="Icon"]:hover {
    transform: scale(110%);
}

.left_col,
.right_col {
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
    text-align: left;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
}

body {
    background-color: #000000;
}

#main-section {
    display: flex;
    flex-direction: row;
}